.c-item {
    height: 480px;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
  }

a{
  color: black !important;
  text-decoration: none !important;
  
}

::selection{
  background-color: transparent;
  color: #FD562A;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #FD562A;
  border-radius: 5px;
}
.aactive{
  border-radius: 2px;
  border-bottom: 3px solid #FD562A;
}
.meoww:hover{
  transform: scale(1.05);
}